// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.postCreateForm form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.postCreateForm form textarea {
    margin-top: 1rem;
}

.postCreateForm form button {
    width: 150px;
    margin-top: 1rem;
    align-self: end;
}
